@import '../base/_reset';
@import '../base/_variables';
@import '../base/_mixins';

.dashboard {
    background-color: rgba(255, 0, 0, 0);
    height: auto;
    width: 100vw;
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
}

.profile-card {
    height: auto;
    margin: 4rem auto 0 auto;
    background-color: $neutral-darkBlue;
    width: calc(100% - 45px);
    max-width: 400px;
    height: 205px;
    display: flex;
    flex-direction: column;
    @include borderRadius(1.1rem)
}

.profile {
    @include borderRadius(1.1rem);
    background-color: $primary-blue;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0 15px;
    padding: 1.8rem 0 1.8rem 12%;
}

.profile-photo {
    width: 70px;
    @include borderRadius(100%);
    border: 2.5px solid #fff;
}

.profile-title p {
    @include textStyle (16px, 300, white)
}

.profile-title h2 {
    @include textStyle(20px, 300, white);
}

.date-render {
    display: flex;
    margin-top: 5px;

    ul {
        height: 65px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
}

.date-render ul li {
    @include textStyle(17px, 400, $neutral-lightBlue);
    // @include textStyle(16px , 300 , white);
}

.stats {
    margin: 0 auto 4rem auto;
    width: calc(100% - 45px);
    max-width: 400px;
    background-color: #7b84d800;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    align-content: center;
    justify-content: center;
    gap: 20px;
}

.card {
    @include borderRadius(14px);
    position: relative;
    overflow: hidden;
}

.job {
    @include card($primary-lightRed);
}

.fun {
    @include card($primary-softBlue);
}

.learning {
    @include card($primary-midRed);
}

.sport {
    @include card($primary-limeGreen);
}

.emails {
    @include card($primary-violet);
}

.health {
    @include card($primary-softOrange);
}

.card-icon {
    position: absolute;
    right: 15px;
    top: -5px;
}

.card-body {
    background-color: $neutral-violetBlue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 120px;
    width: 100%;
    padding:  40px 30px ;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 20px 20px 0 0;
    -webkit-border-radius: 20px 20px 0 0;
    -moz-border-radius: 20px 20px 0 0;
    -ms-border-radius: 20px 20px 0 0;
    -o-border-radius: 20px 20px 0 0;
}

.card-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-title h3 {
    @include textStyle(18px, 400, white);
}

.card-details {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.card-details h4 {
    @include textStyle(32px, 300, white);
}

.card-details h4 span {
    @include textStyle(18px, 300, rgba(255, 255, 255, 0.894));
}

.card-details p {
    margin-bottom: 8px;
    @include textStyle(14px,400,$neutral-lightBlue)
}




