<div class="card {{ card().title.toLowerCase() }}">
    <img [src]="card().imgPath" class="card-icon" alt="card-icon">
    <div class="card-body">
        <div class="card-title">
            <h3>{{ card().title }}</h3>
            <img src="assets/images/menu.svg" alt="menu-icon">
        </div>
        <div class="card-details">
            <h4>{{ card().current }} <span>Completed</span></h4>
            <p>Last {{ getFormattedTimeType() }}: {{ card().previous }} <span>Completed</span></p>
        </div>
    </div>
</div>
