@import '../styles/base/reset';
@import '../styles/base/_variables';
@import '../styles/base/_mixins';

.dashboard {
    background-color: rgba(56, 31, 198, 0);
    height: auto;
    width: 100vw;
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
}

.stats {
    margin: 0 auto 4rem auto;
    width: calc(100% - 45px);
    max-width: 400px;
    background-color: #38ce1a00;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    align-content: center;
    justify-content: center;
    gap: 20px;
}




// @media (min-width:450px)
@include media(T) {

    .dashboard {
        gap: 23px;
    }

    
    .stats {
        margin: 0 auto 4rem auto;
        width: calc(100% - 45px);
        max-width: 600px;
        gap: 22px;
    }

}



// @media (min-width:800px) and (max-width:1100px)
@include media(I) {

    .dashboard {
        gap: 29px;
    }
    
    .stats {
        margin: 0 auto 4rem auto;
        width: calc(100% - 70px);
        max-width: 970px;
        gap: 22px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
    }

}




// @media (min-width:1100px)
@include media(D) {

    .dashboard {
        background-color: rgba(56, 31, 198, 0);
        height: 510px;
        max-width: 1100px;
        width: 100%;
        grid-template-columns: repeat(4, 250px);
        grid-template-rows: repeat(1, 1fr);
        gap: 30px;
        margin-right: 30px;
    }    
      
    .stats {
        grid-column: span 3 / span 3;
        margin: 0 ;
        width: 100%;
        height: 515px;
        min-width: 830px;
        background-color: #38ce1a00;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap:25px ;
    }
    
}