<div class="dashboard">
    <div class="profile-card">
        <div class="profile">
            <img class="profile-photo" src="assets/images/avatar.png" alt="profile-photo">
            <div class="profile-title">
                <p>Report for</p>
                <h2>Stacey Castillo</h2>
            </div>
        </div>
        <div class="date-render">
            <ul>
                <li>Daily</li>
                <li >Weekly</li>
                <li>Monthly</li>
            </ul>
        </div>
    </div>
    <div class="stats">
 
        <div class="card job ">
            <img src="assets/images/job.svg" class="card-icon" alt="card-icon">
            <div class="card-body">
                <div class="card-title">
                    <h3>Job</h3>
                    <img src="assets/images/menu.svg" alt="menu-icon">
                </div>
                <div class="card-details">
                    <h4>10 <span>Completed</span></h4>
                    <p>Last Week: 3</p>
                </div>
            </div>
        </div>

        <div class="card fun ">
            <img src="assets/images/fun.svg" class="card-icon" alt="card-icon">
            <div class="card-body">
                <div class="card-title">
                    <h3>Job</h3>
                     <img src="assets/images/menu.svg" alt="menu-icon">
                </div>
                <div class="card-details">
                    <h4>10 <span>Completed</span></h4>
                    <p>Last Week: 3</p>
                </div>
            </div>
        </div>
        
        <div class="card learning ">
            <img src="assets/images/learning.svg" class="card-icon" alt="card-icon">
            <div class="card-body">
                <div class="card-title">
                    <h3>Job</h3>
                     <img src="assets/images/menu.svg" alt="menu-icon">
                </div>
                <div class="card-details">
                    <h4>10 <span>Completed</span></h4>
                    <p>Last Week: 3</p>
                </div>
            </div>
        </div>
    
        <div class="card sport ">
            <img src="assets/images/sport.svg" class="card-icon" alt="card-icon">
            <div class="card-body">
                <div class="card-title">
                    <h3>Job</h3>
                     <img src="assets/images/menu.svg" alt="menu-icon">
                </div>
                <div class="card-details">
                    <h4>10 <span>Completed</span></h4>
                    <p>Last Week: 3</p>
                </div>
            </div>
        </div>
   
        <div class="card emails ">
            <img src="assets/images/emails.svg" class="card-icon" alt="card-icon">
            <div class="card-body">
                <div class="card-title">
                    <h3>Job</h3>
                     <img src="assets/images/menu.svg" alt="menu-icon">
                </div>
                <div class="card-details">
                    <h4>10 <span>Completed</span></h4>
                    <p>Last Week: 3</p>
                </div>
            </div>
        </div>
  
        <div class="card health ">
            <img src="assets/images/health.svg" class="card-icon" alt="card-icon">
            <div class="card-body">
                <div class="card-title">
                    <h3>Job</h3>
                     <img src="assets/images/menu.svg" alt="menu-icon">
                </div>
                <div class="card-details">
                    <h4>10 <span>Completed</span></h4>
                    <p>Last Week: 3</p>
                </div>
            </div>
        </div>

    </div>

</div>