<div class="user-profile">
    <div class="profile-card">
        <img class="profile-photo" src="assets/images/avatar.png" alt="profile-photo">
        <div class="profile-title">
            <p>Report for</p>
            <h2>Stacey Castillo</h2>
        </div>
    </div>
    <div class="date-render">
        <ul>
            <button (click)="onSelectDataType()" ><li>Daily</li></button>
            <button (click)="onSelectDataType()" ><li >Weekly</li></button>
            <button (click)="onSelectDataType()" ><li>Monthly</li></button>
        </ul>
    </div>
</div>