@mixin textStyle($size, $weight, $color) {
    font-size: $size;
    font-weight: $weight;
    color: $color;
}

@mixin media($size) {
    @if ($size == M) {
        @media (min-width:325px) and (max-width: 450px) {
            @content;
        }
    } @else if ($size == T) {
        @media (min-width:450px) and (max-width:800px) {
            @content;
        }
    } @else if($size ==I){
        @media (min-width:800px) and (max-width:1170px) {
            @content;
        }
    }     @else if($size ==D){
        @media (min-width:1170px) {
            @content;
        }
    }
}

@mixin borderRadius($size){
    border-radius: $size;
    -webkit-border-radius: $size;
    -moz-border-radius: $size;
    -ms-border-radius: $size;
    -o-border-radius: $size;
}

@mixin card($bgColor){
    background-color: $bgColor;
    margin: 0 auto;
    width: 100%;
    height: 160px;
    color: white;
}

@mixin query($width) {
    @media (max-width: $width) {
        @content;
    }
}