
// Primary
$primary-blue : hsl(246, 80%, 60%);
$primary-lightRed : hsl(15, 100%, 70%);
$primary-softBlue : hsl(195, 74%, 62%);
$primary-midRed :  hsl(348, 100%, 68%);
$primary-limeGreen : hsl(145, 58%, 55%);
$primary-violet : hsl(264, 64%, 52%);
$primary-softOrange : hsl(43, 84%, 65%);


// Neutral
$neutral-vDarkBlue : hsl(226, 43%, 10%);
$neutral-darkBlue :hsl(235, 46%, 20%);
$neutral-dBlue :hsl(235, 45%, 61%);
$neutral-paleBlue :hsl(236, 100%, 87%);


